body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Burger */
.burger {
	height : 300px;
  text-align: center;
  overflow : hidden;
  margin-top: 58px;

}

.burger:hover { overflow-y:scroll; }

.burger::-webkit-scrollbar {
    width: 6px;
} 
 
.burger::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
}
 /*
.burger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}*/

.burger-controls-bg-color {

  background-color : #278CCA;
}

.Backdrop {
  height : 100%;
  width: 100%;
  position: fixed;
  left : 0;
  top : 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.borderless{
  border: 0 none;
}

/*
logo styling
*/

@media (max-width: 500px) {
    .menu {
        display: none;
    }
}

/*
Toolbar style
*/

.ToolBar {
  height : 56px;
  width : 100%;
  position: fixed;
  top : 0;
  left : 0;
  background-color: #DC7632;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  z-index: 90;
}

.Toolbar nav{
  height: 100%;
}

@media (max-width: 500px) {
    .ToolbarDesktopOnly {
        display: none;
    }
}

/*
NavigationItems ul style
*/

.NavigationItems {
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;

}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

/*
Navigation item li style
*/

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #ba5d24;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}

/*
SideDrawer style 
*/

.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}


.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.form-shadow{
 /*  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
 -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}